body {
   background: grey;
   height: 100%;
   display: flex;
}

div.login {
   max-width: 400px;
   background: white;
   margin: auto;
   padding: 64px;
   border: 2px solid black;
}

.md-button.local:not([disabled]),
.md-button.local:not([disabled]):hover {
   background-color: #e91e63;
}

.md-button.facebook:not([disabled]),
.md-button.facebook:not([disabled]):hover {
   background-color: #3b5998;
}

.md-button.google:not([disabled]),
.md-button.google:not([disabled]):hover {
   background-color: #d34836;
}

.md-button.microsoft:not([disabled]),
.md-button.microsoft:not([disabled]):hover {
   background-color: #125acd;
}

.md-button.yahoo:not([disabled]),
.md-button.yahoo:not([disabled]):hover {
   background-color: #600e85;
}

.md-button.close:not([disabled]),
.md-button.close:not([disabled]):hover {
   background-color: black;
}

.md-button.local,
.md-button.facebook,
.md-button.google,
.md-button.microsoft,
.md-button.yahoo,
.md-button.close {
   color: white;
   font-weight: 900;
   padding-right: 16px;
   width: 100%;
}

.md-button.local:not([disabled]):hover,
.md-button.facebook:not([disabled]):hover,
.md-button.google:not([disabled]):hover,
.md-button.microsoft:not([disabled]):hover,
.md-button.yahoo:not([disabled]):hover,
.md-button.close:not([disabled]):hover {
   filter: alpha(opacity=60);
   opacity: 0.6;
}
